[submodule "themes/hago"]
	path = themes/hago
	url = https://github.com/gyuha/hago.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
